.about-title {
  font-family: 'PlayfairDisplay', serif;
  font-size: 3.75rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  letter-spacing: -0.05em;
  -webkit-text-stroke: 1px black;
 
  color: black;
}
